<div class="main-container">
    <div class="form center">
        <div class="col-sm-6 m-auto">
            <div class="card">
                <div class="card-body">
                    <h2>Update Vinyl</h2>
                    <ul>
                        <li>You can update any field below.</li>
                        <li>You don't have to fill all fields.</li>
                        <li>Find your vinly, and update the field</li>
                    </ul>
                    <div>
                        <div class="form-group">
                            <label >Vinyl Id</label>
                            <input type="number" class="form-control" [(ngModel)]="vinyl.id">
                        </div>
                        <ul><li>Find your vinyl by entering Vinyl id</li></ul>
                        <button class="btn btn-primary" (click)="getVinyl(vinyl.id)">Find Vinly</button>
                        <br>
                        <br>
                        <div class="form-group">
                            <label >Vinyl Title</label>
                            <input type="text" class="form-control" [(ngModel)]="vinyl.title">
                        </div>
                        <div class="form-group">
                            <label >Artist</label>
                            <input type="text" class="form-control" [(ngModel)]="vinyl.artist">
                        </div>
                        <div class="form-group">
                            <label >Release Date</label>
                            <input type="date" class="form-control" [(ngModel)]="vinyl.releaseDate">
                        </div>
                        <div class="form-group">
                            <label >Serial Code</label>
                            <input type="text" class="form-control" [(ngModel)]="vinyl.serial">
                        </div>
                        <div class="form-group">
                            <label >Record label</label>
                            <input type="text" class="form-control" [(ngModel)]="vinyl.recordLabel">
                        </div>
                        <div class="form-group">
                            <label for="exampleFormControlSelect1">Vinly Condition?</label>
                            <select class="form-control" [(ngModel)]="vinyl.vinylcondition">
                                <option>New</option>
                                <option>Old</option>
                                <option>Broken</option>
                            </select>
                        </div>
                        <br>
                        <button class="btn btn-primary" (click)="updateVinyl(vinyl.id)">Submit</button>
                    <div>
                </div>
            </div>
        </div>
    </div>
</div>